@import "vars"
@import "fonts"

::selection
  background-color: $accent
  color: #fff

::placeholder
  color: #666

select:focus,
select:hover,
option:hover,
option:focus,
.form-control:focus,
  box-shadow: none!important
  border: none
  outline: none
  border: transparent
  
button, a
  &:focus
    outline: none

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: OpenSansRegular, sans-serif
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
      color: 666
      box-shadow: 0
    &:focus:valid
      border-color: green
      color: 666

@media only screen and (max-width: 576px)
  .container
    overflow: hidden
 
.img-resp
  display: block
  max-width: 100%
  height: auto
  &.img-width
    width: 100%

.tac
  text-align: center
.tar
  text-align: right

b, strong
  font-weight: bold
  

// форма
.popup-wrap
  display: none
  position: fixed
  left: 0
  top: 0
  height: 100%
  width: 100%
  background-color: rgba(0,0,0,.9)
.main-form
  max-width: 555px
  background-color: #fff
  padding: 20px
  transform: translate(-50%, -50%)
  left: 50%
  top: 50%
  position: absolute
  input, textarea
    width: 100%
    margin-bottom: 30px
    padding: 15px 20px
    background-color: #f3f3f3
    border: 1px solid $accent
    &::placeholder
      color: #231f20!important
      opacity: 1
  textarea
    height: 100%
    resize: vertical
  .btn-send-form
    margin-top: 30px
    border: none
    width: 100%
    background-color: $accent
    padding: 15px
    font-size: 18px
    color: #fff
    text-transform: uppercase
    font-weight: bold
    cursor: pointer
  .title
    color: $text
    margin-bottom: 20px
    padding: 0 30px
// форма END

.close
  position: absolute
  right: 10px
  top: 10px
  width: 40px
  height: 40px
  background: url('../img/close.svg') no-repeat center
  background-size: 40px
  cursor: pointer



/* Large (.col-lg-) */
@media only screen and (max-width : 1200px)
  /**/


/* Medium (.col-md-) */
@media only screen and (max-width : 992px)
  /**/


/* Small (.col-sm-) */
@media only screen and (max-width : 768px)
  /**/


/* Extra Small (.col-) */
@media only screen and (max-width : 576px)
  /**/

@import "sliders"
@import "popups"
